@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-brand-50: #f0f7ff;
  --color-brand-100: #e0effe;
  --color-brand-200: #bae0fd;
  --color-brand-300: #7cc8fb;
  --color-brand-400: #38a9f8;
  --color-brand-500: #0e8ce9;
  --color-brand-600: #026dc7;
  --color-brand-700: #0357a1;
  --color-brand-800: #074a85;
  --color-brand-900: #0c3f6e;
  --color-brand-950: #082949;
}
